*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    color: #566E7A;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
}
h1,h2,h3{
    color: #077ef6;
}
.links-rodape ul{
    width:6em;
}
.ul-flex{
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.ul-none{
    display: none;
}
.redes-sociais{
    flex-wrap: wap;
}
.main-form{
    width: 100vw;
    height: 100vh;
    background-color: #f3f5fa;
    display: flex;
    align-items: center;
    justify-content: center;
}
.div-input:last-child{
    align-items: center;
    margin-top: 3em;
}
form{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.div-input{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin: 24px 0 12px 0;
    background-color: write;
    width: 100%;
}
.div-input input[type='email'], input[type='password']{
    outline: none;
    border: 1px solid #ccc;
    height: 2.5em;
    width: 100%;
    border-radius: 0.4em;
    height: 3.5em;
    margin: 1em 0;
}
.img-input{
    width: 100px;
    height: 100px;
}
.div-input img{
    padding: 0;
}
.div-input label{
    font-size: 2em;
}
nav ul{
    margin-top: 55px;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
nav ul li,div:not(div.grid, section.section-members div.content > div.participantes, div.desc, div.secoes, .div-apresentacao, .div-apresentacao-reverse, div.section-disciplina, .disciplina-1, .div-main, .grid-layout, div.heading, .flex, .div-select, div.hr, .rodape,  .logo-saef, .input-header, .seila, .content, .text-lorem, .foto, .apresentacao-child, .div-input){
    padding: 1em 1.5em 1em 1.5em;
}
main{
    min-height: calc(100vh - 164.16px);
    min-width: calc(100vw - 50px);
}
nav{
    height: 100%;
    background-color: #FCFCFC;
    position: fixed;
    width: 5em;
    border-right: 1px solid #f1f1f1;
}
div img:not(.hr img, .icons ul a img, section.filhos > #img-size, .tamanho-imagem, .imagem, .logo-saef > a > #logo-empe, .img-header  .list, .logo-header, .div-input .img-input){
    height: 5em;
    width: 7.2em;
    margin: auto;
    padding-left: 9em;
}
.img-input-center{
    align-items: center;
    margin-bottom: 4em;
}
#logo-empe, .list, .logo-header{
    height: 50px;
    width: 72px;
    padding-left: 8em;
}
.content-form{
    display: flex;
    border-radius: 1.5em;
    align-items: center;
    justify-content: center;
    width: 26%;
    height: 70%;
    background-color: white;
}
.icons ul{
    padding-top: 8px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 8px;
}
.heading h2{
    width: fit-content;
}
.div-select{
    margin: 2em;
    display: flex;
    flex-direction: column;
}
.div-select label{
    color: #929292;
    font-size: small;
    padding: 0 0 2px 4px;
}
.flex{
    display: grid;
    grid-template-columns: auto  auto;
    align-items: center;
    justify-content:space-between;
    padding: 12px 10px 12px 10px;
}
a{
    text-decoration: none;
}
.flex .hr a{
    border-radius: 3px;
    width: 26px;
    padding: 8px 12px;
    background-color: #077ef6;
    color: #f1f1f1;
}
input[type="search"]{
    padding-left: 10px;
    height: 32px;
    width: 238px;
    border: 1px solid #ccc;
    border-radius: 12px 0 0 12px ;
}
input[type="search"]:focus{
    outline: 0;
    border: 1px solid #ccc;
}
.hr{
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding: 0 5px 0 5px;
}
.input-header{
    display: flex;
    align-items: center;
    padding: 0;  
}
#disc-azul{
    background-color: #0277BD;
}
#disc-laranja{
    background-color: #D24031;
}
#disc-verde{
    background-color: #00887A;
}
#disc-amarelo{
    background-color: #E6E951;
}
#disc-roxo{
    background-color: #7627BB;
}
#disc-salmao{
    background-color: #F85C5C;
}
#disc-cinza{
    background-color: #566E7A;
}
#disc-verde2{
    background-color: #32AC71;
}
#disc-rosa{
    background-color: #D91A60;
}
#disc-azulclaro{
    background-color: #54A8D2;
}
#disc-laranjaclaro{
    background-color: #FE9365;
}
#logo-deitado{
    width: 130px;
    height: 35px;
}
.logo-saef > a > img#logo-empe{
    padding-left: 20px;
    height: 60px;
}
.botao-login{
    width: 50%;
    border: none;
    padding: 8px 12px;
    background-color: #077ef6;
    color: white;
    border-radius: 3px;
}
button:not(button.botao-login){
    width: 36;
    padding: 0 8px 0 5px;
    display: flex;
    background-color: #f1f1f1;
    align-items: center;
    height: 32px;
    border-radius: 0 12px 12px 0 ;
    border: 1px solid #f1f1f1;
}
.heading h2{
    padding-left: 0;
}
.flex .hr{
    align-items: center;
    top: 0;
}
hr{
    margin: auto;
    min-width: calc(100vw - 50px);
    border: 1px solid #f1f1f1;
}

/* Conteudo Principal(Main)  */
.div-main{
    margin: 0 0 0;
    padding-left: 9em;
    min-width: calc(100% - 9em);
}
section.sobre-nos{
    min-width: calc(100vw - 50px);
}
.grid{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1.6em;
    width: 100%;
    margin: 3em 0 3em 0;
}
.text-lorem{
    width:70%;
    color: #566E7A;
    display: flex;
    column-gap: 2em;
    align-items: center;
    justify-content: center;
}
.text-lorem p{
    font-size: 1em;
    width: 40%;
    padding: 0 0 16px 0;
}

.heading{
    justify-content: space-between;
    display: flex;
    align-items: center;
}
.heading h2{
    font-size:24px;
}
.heading select{
    height: 22px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 0 5px 0 5px;
    width: 80px;
    outline: 0;
    border: 1px solid #ccc;
    color: #8f8f8f;
}
div.img-header{
    display: flex;
    align-items: center;
    column-gap: 16px;
    
}
div.flex > div.img-header{
    padding: 0 0 0 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dis-none{
    display: none;
}
div.img-header .list{
    display: none;
}
.disciplina-1:first-child{
    background-color: #077ef6;
    border-radius: 8px 8px 0 0;
}
.disciplina-1:last-child{
    height:100% ;
}
.grid-layout{
    margin: 3em 0 3em 0;
    gap: 18px;
    display: flex;
    flex-wrap: wrap;
}
div.section-disciplina{
    padding: 0px;
    color: #818181;
    display: grid;
    grid-template-rows: 75% 25%;
    height: 100%;
}
.input-header .profile{
    width: 22px;
    height:22px;
    padding-left: 12px;
}
button[type="submit"] b img{
    padding-left: 0;
}
footer{
    min-width: calc(100vw - 50px);
    background-color: #f3f5fa;
}
.size-icons{
    max-width: 25px;
    max-height: 25px;
}
.rodape{
    min-width: calc(100% - 50px);
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 3em 0;
}
.links-rodape{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}
.redes-sociais h3>strong .links-rodape a, strong{
    font-size:medium;
}
.links-rodape{
    column-gap: 20px;
    align-items: flex-start;
}
.links-rodape ul li{
    padding-bottom: 4px;
}
ul{
    list-style-type: none;
}
li a{
    color: #077ef6;
    text-decoration: none;
}
.logo-saef{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    row-gap: 1em;
}
.section-1{
    border: 1px solid #f1f1f1;
    border-radius: 5px;
    height:280px;
    width: 300px;
}
.direitos{
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.direitos h3{
    width: 43%;
    text-align: center;
    margin: auto;
    font-size: 1.6em;
}
.logo-saef h3{
    font-size: 1.6em;
}
img.tamanho-imagem{
    padding-left: 0;
}
.section-saef{
    width: 100%;
    margin: auto;
    background-color: #f3f5fa;
}

.title{
    color: #077ef6;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title h2{
    font-size: x-large;
    color: #077ef6;
}
.disciplina-1:last-child{
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.disciplina-1:last-child h3{
    font-size: large;
    padding-left:  1em;
    color: #818181;
}
.redes-sociais .icons{
    padding: 0;
}
/* pagina de apresentação */
.secoes{
    display: flex;
    align-items: center;
    padding: 4em 0 4em 4em;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
section.filhos{
    width: 45%;
}
.filhos:first-child{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
#img-size{
    width: 100%;
    height: 100%;
}
.filhos strong h1{
    font-size: 48px;
    max-width: 500px;
}

section.title-members h1{
    color: #f1f1f1;
}
section.section-members{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #407BFF;
    min-width: calc(100vw - 50px);
}
.content{
    margin: 2.4em 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    flex-direction: column
}
.imagem{
    height: 100%;
}
.title-members{
    width: 23%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.title-members h1{
    font-size: 3em;
    color: #f1f1f1;
}
.participantes{
    gap: 3.8em;
    margin: 2.4em 0 2.4em 0;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
}
.member-name{
    width: auto;
    display: flex;
    justify-content: flex-end;
}
.members{
    width: 47%;
    height: 30%;
    background-color: white;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
}
.member-name h2{
    font-size: 1.6em;
    color: #077ef6;
}
.profile-member{
    column-gap: 2em;
    /* padding-top: 0; */
    display: flex;
    align-items: center;
}
.profile-member .foto img, div.foto{
    padding: 0;
}
.profile-member .desc p{
    color: #566E7A;
}
.foto img.imagem{
    width: 100%;
    height: 100%;
}

section h2{
    font-size: 20px;
    color: #818181;
}
.section-objetivos{
    display: flex;
    justify-content: center;
    min-width: calc(100vw - 50px);
    background-color: #f3f5fa;
}
.div-objetivos{
    margin: 2em 0 2em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    row-gap: 2em;
}
.div-objetivos h2{
    font-size: 24px;
    color: #077ef6;
}
.apresentacao-1{
    min-width: calc(100vw - 50px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.div-apresentacao, .div-apresentacao-reverse{
    width: 100%;
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
    margin: 4em 0 4em 0;
    column-gap: 10%;
    justify-content: center;
}

.div-apresentacao-reverse{
    flex-direction: row-reverse;
}
.apresentacao-child:first-child > img.tamanho-imagem{
    width: 100%;
    height: 100%;
    padding: 0;
}
.apresentacao-child:last-child, .apresentacao-child:first-child{
    display: flex;
    align-items: center;
    width: 38%;
    height: auto;
    padding: 0;
}
.apresentacao-child:first-child{
    display: flex;
    align-items: center;
    width: 38%;
    height: auto;
    padding: 0;   
}
.seila{
    display: flex;
    padding: 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 1.4em;
}
/* .apresentacao-child:first-child{
    max-width: 350px;
    max-height: 350px;
} */
.contem{
    width: 90%;
    padding: 0;
}
.seila h2{
    color: #077ef6;
    font-size: 3.2em;
}
.seila p{
    font-size: 1.2em;
}
/* fim da pagina de apresentação */
@media only screen and (min-width:1440px){
    .div-apresentacao, .div-apresentacao-reverse{
        margin: 3em 10em 3em 10em;
    }
    .content-form{
        width: 30%;
        height: 100%;
    }
}
@media only screen and (max-width:1440px){
    .profile-member .desc p {
        font-size: 1.4em;
    }
    .div-apresentacao, .div-apresentacao-reverse{
        margin: 2em 10em 2em 10em;
    }
    .member-name h2 {
        font-size: 2.4em;
    }
    .div-objetivos p{
        font-size: 1.4em;
    }
    .text-lorem p {
        font-size: 1.4em;
    }
    .content-form{
        width: 35%;
        height: 70%;
    }

}
@media only screen and (max-width:1024px) {
    div.secoes{
        flex-direction: column;
        padding: 4em 4em 4em 3em;
    }
    .logo-saef{
        padding: 2em 0 2em 6em;
    }
    .content {
        margin: 2.4em 0 2.4em 4em;
        flex-direction: column;
    }
    section.filhos {
        width: 80%;
        margin-left: 6em;
    }
    .div-apresentacao-reverse, .div-apresentacao{
        margin: 4em 0 4em 6em;
    }
    .content-form {
        width: 40%;
        height: 70%;
    }

}
@media only screen and (max-width:768px){
    .input-header{
        display: none;
    }
    nav{
        display: none;
    }
    .content {
        width: 90%;
        margin: 2.4em 1em;
        flex-direction: column;
    }
    .dis-none{
        display: block;
    }
    .ul-none{
        display: none;
    }
    .ul-none:focus, .list:focus, .dis-none:focus, .dis-none:focus > div:focus, .dis-none > div > img.list:focus, .dis-none div > a{
        display: block;
    }
    .text-lorem{
        flex-direction: column;
    }
    .text-lorem p{
        width: 100%;
    }
    .apresentacao-child:last-child, .apresentacao-child:first-child{
        width: 75%;
    }
    div.img-header .list{
        display: block;
    }
    .div-objetivos{
        width: 80%;
    }
    div.div-main, .logo-saef{
        padding-left: 0;
    }.apresentacao-1{
        width: 100%;
    }
    section.filhos {
        width: 90%;
        margin-left: 0;
    }
    .grid-layout{
        justify-content: center;
    }
    .heading {
        justify-content: space-around;
    }
    .rodape{
        justify-content: center;
    }
    .img-header .list, .logo-header{
        padding-left: 0px ;
    }
    .members{
        width: 80%;
    }
    .div-apresentacao-reverse, .div-apresentacao{
        margin: 4em 0 4em 0;
    }
    .content-form {
        width: 65%;
        height:70%;
        /* height: auto; */
        background-color: white;
    }
    div.secoes {
        flex-direction: column;
        padding: 4em 2em;
    }

}

@media only screen and (max-width:425px){
    div.rodape{
        padding: 10px 0 10px 0;
        justify-content: center;
    }
    .apresentacao-child:last-child, .apresentacao-child:first-child {
        width: 90%;
    }
    .logo-saef {
        padding: 2em 0 2em 0;
    }
    .members{
        width: 90%;
    }
    
    .heading {
        justify-content: space-around;
    }
    .img-header .list, .logo-header{
        padding-left: 0;
    }
    .content-form {
        width: 80%;
        height: 70%;
        background-color: white;
    }

    /* .members{
        width: 95%;
    } */
}