*{
    font-size: 10px;
    margin: 0;
    padding: 0;
}
body{
    color: #077ef6;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
.links-rodape ul{
    width:60px;
}
.redes-sociais{
    flex-wrap: wap;
}
nav ul{
    margin-top: 55px;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
nav ul li,div{
    padding: 10px 15px 10px 15px;
}
main{
    min-height: calc(100vh - 164.16px);
}
nav{
    height: 100%;
    background-color: #FCFCFC;
    position: fixed;
    width: 50px;
    border-right: 1px solid #f1f1f1;
}
div img:not(.hr img, .icons ul a img){
    height: 50px;
    width: 72px;
    margin: auto;
    padding-left: 96px;
}
.icons ul{
    padding-top: 8px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 8px;
}
.heading h2{
    width: fit-content;
}
.div-select{
    display: flex;
    flex-direction: column;
}
.div-select label{
    color: #929292;
    font-size: small;
    padding: 0 0 2px 4px;
}
.flex{
    display: grid;
    grid-template-columns: auto  auto;
    align-items: center;
    justify-content:space-between;
    padding: 12px 10px 12px 10px;
}
a{
    text-decoration: none;
}
.flex a{
    border-radius: 3px;
    width: 26px;
    padding: 8px 12px;
    background-color: #077ef6;
    color: #f1f1f1;
}
input[type="search"]{
    padding-left: 10px;
    height: 32px;
    width: 238px;
    border: 1px solid #ccc;
    border-radius: 12px 0 0 12px ;
}
input[type="search"]:focus{
    outline: 0;
    border: 1px solid #ccc;
}
.hr{
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding: 0 5px 0 5px;
}
.input-header{
    display: flex;
    align-items: center;
    padding: 0;  
}
#disc-azul{
    background-color: #0277BD;
}
#disc-laranja{
    background-color: #D24031;
}
#disc-verde{
    background-color: #00887A;
}
#disc-amarelo{
    background-color: #E6E951;
}
#disc-roxo{
    background-color: #7627BB;
}
#disc-salmao{
    background-color: #F85C5C;
}
#disc-cinza{
    background-color: #566E7A;
}
#disc-verde2{
    background-color: #32AC71;
}
#disc-rosa{
    background-color: #D91A60;
}
#disc-azulclaro{
    background-color: #54A8D2;
}
#disc-laranjaclaro{
    background-color: #FE9365;
}
#logo-deitado{
    width: 130px;
    height: 35px;
}
.logo-saef > a > img#logo-empe{
    padding-left: 20px;
    height: 60px;
}
button{
    width: 36;
    padding: 0 8px 0 5px;
    display: flex;
    background-color: #f1f1f1;
    align-items: center;
    height: 32px;
    border-radius: 0 12px 12px 0 ;
    border: 1px solid #f1f1f1;
}
.heading h2{
    padding-left: 0;
}
.flex .hr{
    align-items: center;
    top: 0;
}
hr{
    margin: auto;
    min-width: calc(100vw - 50px);
    border: 1px solid #f1f1f1;
}

/* Conteudo Principal(Main)  */
.div-main{
    min-height: calc(100vh - 229.89);
    padding-left: 90px;
}

.heading{
    justify-content: space-between;
    display: flex;
    align-items: center;
}
.heading h2{
    font-size:24px;
}
.heading select{
    height: 22px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 0 5px 0 5px;
    width: 80px;
}
.heading select{
    outline: 0;
    border: 1px solid #ccc;
    color: #8f8f8f;
}
div.img-header{
    display: flex;
    align-items: center;
    column-gap: 16px;
    
}
div.flex > div.img-header{
    padding: 0 0 0 90px;
}
div.img-header img:first-child{
    display: none;
}
.disciplina-1:first-child{
    background-color: #077ef6;
    border-radius: 8px 8px 0 0;
}
.disciplina-1:last-child{
    height:100% ;
}
.grid-layout{
    gap: 18px;
    display: flex;
    flex-wrap: wrap;
}
.section-disciplina{
    padding: 0px;
    color: #818181;
    display: grid;
    grid-template-rows: 75% 25%;
    height: 100%;
}
.input-header .profile{
    width: 22px;
    height:22px;
    padding-left: 12px;
}
button[type="submit"] b img{
    padding-left: 0;
}
footer{
    width: 100%;
    background-color: #f3f5fa;
}
.size-icons{
    max-width: 25px;
    max-height: 25px;
}
.rodape{
    padding: 32px 0;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-around;
}
.links-rodape{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}
.redes-sociais h3>strong .links-rodape a, strong{
    font-size:medium;
}
.links-rodape{
    column-gap: 20px;
    align-items: flex-start;
}
.links-rodape ul li{
    padding-bottom: 4px;
}
ul{
    list-style-type: none;
}
li a{
    color: #077ef6;
    text-decoration: none;
}
.logo-saef{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    row-gap: 10px;
}
.section-1{
    border: 1px solid #f1f1f1;
    border-radius: 5px;
    height:280px;
    width: 300px;
}
.direitos{
    display: flex;
    justify-content: center;
    align-items: center;
}
.direitos h3{
    width: 375px;
    margin: auto;
}
.direitos h3{
    font-size: medium;
}
.logo-saef h3{
    font-size: medium;
}
.section-saef{
    background-color: #f3f5fa;
}
.grid{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 49px;
    row-gap: 16px;
}
.title{
    color: #077ef6;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title h2{
    font-size: x-large;
    color: #077ef6;
}
.text-lorem{
    color: #566E7A;
    display: flex;
    flex-wrap: wrap;
    padding: 0 15px;
    max-width: 730px;
    align-items: center;
    justify-content: center;
    column-gap: 22px;
}
.text-lorem p{
    font-size: x-small;
    max-width: 330px;
    padding: 0 0 16px 0;
}
.disciplina-1:last-child{
    padding: 0;
    display: flex;
    align-items: center;
    justify-content:left;
}
.disciplina-1:last-child h3{
    font-size: large;
    padding-left:  20px;
}
.redes-sociais .icons{
    padding: 0;
}
/* pagina de apresentação */
.secoes{
    display: flex;
    align-items: center;
    padding: 48px 0 48px 56px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.filhos:first-child{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    row-gap: 20px;
}
#img-size{
    width:500px;
    height: 370px;
}
.section-saef{
    margin: auto;
}
.filhos strong h1{
    font-size: 48px;
    max-width: 500px;
}

section.title-members h1{
    color: #f1f1f1;
}
.section-members{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #077ef6;
    width: 100%;
}
.content{
    margin: 24px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 890px;
    flex-direction: column
}
.imagem{
    height: 100%;
}
.title-members{
    display: flex;
    align-items: center;
    justify-content: center;
}
.title-members h1{
    font-size: 24px;
    color: #f1f1f1;
}
.participantes{
    gap: 38px;
    margin: 24px 0 24px 50px;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
}
.member-name{
    padding-bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.members{
    row-gap: 4px;
    height: 136px;
    max-width: 386px;
    background-color: white;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
}
.member-name h2{
    max-width: 170px;
    font-size: 18px;
    color: #077ef6;
}
.profile-member{
    padding-top: 0;
    display: flex;
    align-items: center;
}
.profile-member .foto img, div.foto{
    padding: 0;
}
.profile-member .desc p{
    color: #566E7A;
}
.foto img.imagem{
    width: 72px;
    height: 72px;
}

section h2{
    font-size: 20px;
    color: #818181;
}
/* fim da pagina de apresentação */
@media screen and (max-width:700px) {
    .hr .input-header, .heading  select, label{
        display: none;
    }
    
    .heading h2{
        padding-left: 25px;
    }
    div.img-header img:first-child{
        display: block;
    }
    div.flex > div.img-header {
        padding-left: 0px;
    }
    .div-main{
        margin: auto;
        justify-content: center;
        padding: 0;
    }
    .grid-layout{
        justify-content: center;
    }
    nav{
        display: none;
    }
    
}
@media screen and (min-width:400px) and (max-width:700px){
    div.flex > div.img-header {
        padding-left: 0px;
    }
    .img-header img:first-child{
        padding: 0;
    }
    .participantes{
        padding: 10px 0px;
        margin-left: 0px;
    }
    .direitos{
        width: fit-content;
        margin: auto;
    }
    #img-size{
        padding-left:0;
        width: 350px;
    }
    .secoes{
        padding: 36px 0 36px 0;
        flex-direction: column-reverse;
    }
    .direitos h3{
        max-width: 200px;
    }
}
@media screen and (max-width:399px){
    header div.flex .img-header img{
        padding-left: 0;
    }
    .icons ul{
        column-gap: 0;
    }
    .redes-sociais {
        padding-right: 0;
    }
    .secoes{
        padding: 20px;
    }
    .direitos h3{
        max-width: 200px;
    }
    .participantes{
        margin-left: 0;
        padding: 10px;
    }
    .heading h2{
        padding-left: 0;
    }
    .img-header #img-size, img{
        padding-left: 0;
        padding: 20px;
    }
    #img-size{
        display: none;
    }
    .secoes{
        padding: 48px 0 48px 56px;
    }
}
@media screen and (max-width:1024px){
    .participantes{
        padding: 10px 0px;
    }
}
@media screen and (max-width:699px){
    .links-rodape{
        margin: auto;
    }
    .icons{
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    .img-header img:last-child{
        padding-left: 0;
    }
    .secoes{
        flex-wrap: wrap;
        justify-content: center;
        padding: 48px 0 48px 20px;
    }

}
@media screen and (min-width:700px){
    .direitos h3{
        max-width: 374px;
    }
    .rodape{
        padding-left: 64px;
    }
    
}
@media screen and (min-width:1025px) and (max-width:1440px){
    .secoes{
        padding: 66px 0 66px 56px;
    }
    
}