*{
    font-size: 10px;
    margin: 0;
    padding: 0;
}
body{
    color: #2190FF;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

nav ul{
    margin-top: 55px;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
nav ul li,div{
    padding: 10px 15px 10px 15px;
}
main{
    min-height: calc(100vh - 164.16px);
}
nav{
    height: 100%;
    background-color: #FCFCFC;
    position: fixed;
    width: 50px;
    border-right: 1px solid #f1f1f1;
}
div img:not(.hr img, .icons ul a img){
    height: 43px;
    width: 43px;
    margin: auto;
    padding-left: 6px;
}
.icons ul{
    padding-top: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 4px;
}
.flex{
    display: grid;
    grid-template-columns: auto  auto;
    align-items: center;
    justify-content:space-between;
    padding: 12px 10px 12px 10px;
}
a{
    text-decoration: none;
}
.flex a{
    border-radius: 3px;
    width: 26px;
    padding: 5px;
    background-color: #2190FF;
    color: #f1f1f1;
}
input[type="search"]{
    padding-left: 10px;
    height: 32px;
    width: 238px;
    border: 1px solid #ccc;
    border-radius: 12px 0 0 12px ;
}
input[type="search"]:focus{
    outline: 0;
    border: 1px solid #ccc;
}
.hr{
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding: 0 5px 0 5px;
}
.input-header{
    display: flex;
    align-items: center;
    padding: 0;  
}
#disc-azul{
    background-color: #0277BD;
}
#disc-laranja{
    background-color: #D24031;
}
#disc-verde{
    background-color: #00887A;
}
#disc-amarelo{
    background-color: #E6E951;
}
#disc-roxo{
    background-color: #7627BB;
}
#disc-salmao{
    background-color: #F85C5C;
}
#disc-cinza{
    background-color: #566E7A;
}
#disc-verde2{
    background-color: #32AC71;
}
#disc-rosa{
    background-color: #D91A60;
}
#disc-azulclaro{
    background-color: #54A8D2;
}
#disc-laranjaclaro{
    background-color: #FE9365;
}
button{
    width: 36;
    padding: 0 8px 0 5px;
    display: flex;
    background-color: #f1f1f1;
    align-items: center;
    height: 32px;
    border-radius: 0 12px 12px 0 ;
    border: 1px solid #f1f1f1;
}
.flex .hr{
    align-items: center;
    top: 0;
}
hr{
    margin: auto;
    min-width: calc(100vw - 50px);
    border: 1px solid #f1f1f1;
}

/* Conteudo Principal(Main)  */
.div-main{
    padding-left: 90px;
}

.heading{
    justify-content: space-between;
    display: flex;
    align-items: center;
}
.heading h2{
    font-size:x-large;
}
.heading select{
    height: 22px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 0 5px 0 5px;
    width: 80px;
}
.heading select{
    outline: 0;
    border: 1px solid #ccc;
    color: #8f8f8f;
}
div.img-header{
    display: flex;
    align-items: center;
    column-gap: 16px;
    
}
div.flex > div.img-header{
    padding: 0 0 0 90px;
}
div.img-header img:first-child{
    display: none;
}
.disciplina-1:first-child{
    background-color: #2190FF;
    border-radius: 8px 8px 0 0;
}
.disciplina-1:last-child{
    height:100% ;
}
.grid-layout{
    gap: 18px;
    display: flex;
    flex-wrap: wrap;
}
.section-disciplina{
    padding: 0px;
    color: #818181;
    display: grid;
    grid-template-rows: 75% 25%;
    height: 100%;
}
footer{
    background-color: #F5F5F5;
}
.rodape, .links-rodape{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
}
.redes-sociais h3>strong .links-rodape a, strong{
    font-size: small;
}
.links-rodape{
    column-gap: 20px;
    align-items: flex-start;
}
.links-rodape ul li{
    padding-bottom: 4px;
}
ul{
    list-style-type: none;
}
li a{
    color: #2190FF;
    text-decoration: none;
}
.logo-saef{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.section-1{
    border: 1px solid #f1f1f1;
    border-radius: 5px;
    height:280px;
    width: 300px;
}
.direitos, .direitos h3{
    width: 300px;
    margin: auto;
}
.direitos h3{
    font-size: larger;
}
.disciplina-1:last-child{
    padding: 0;
    display: flex;
    align-items: center;
    justify-content:left;
}
.disciplina-1:last-child h3{
    font-size: large;
    padding-left:  20px;
}
@media screen and (max-width:700px) {
    .hr, .heading  select{
        display: none;
    }
    .heading h2{
        padding-left: 25px;
    }
    div.img-header img:first-child{
        display: inline-block;
    }
    div.flex > div.img-header {
        padding-left: 0px;
    }
    .div-main{
        margin: auto;
        justify-content: center;
        padding: 0;
    }
    .grid-layout{
        justify-content: center;
    }
    nav{
        display: none;
    }
    
}
@media screen and (max-width:400px){
    div.flex > div.img-header {
        padding-left: 0px;
    }

    .heading h2{
        padding-left: 35px;
    }
    .links-rodape{
        flex-direction: column;
    }
    .direitos{
        width: fit-content;
    }
}